<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="salesrule_rule_condition_combine">
        <observer name="customer_rule" instance="WCS\jplPromotions\Observer\CustomerConditionObserver" />
    </event>
    <event name="adminhtml_block_salesrule_actions_prepareform">
        <observer name="wcs_jplpromotions_salesrule_prepareform" instance="WCS\jplPromotions\Observer\PrepareFormActions" />
    </event>
    <event name="salesrule_rule_save_before">
        <observer name="wcs_jplpromotions_salesrule_save_rule" instance="WCS\jplPromotions\Observer\UpdateJplpromotionsRuleActions" />
    </event>
</config>
